In [281]:
import pandas as pd
import numpy as np
import math

In [49]:
df = pd.read_stata("cpsdata_wisconsin.dta")

In [50]:
df.head()

,year,serial,cpsid,statefip,pernum,cpsidp,relate,marst,csout,csphycus,csyrdiv,csyrmar
0,1989,25475,1.989020e+13,Wisconsin,1,1.989020e+13,Head/householder,Never married/single,NaN,NaN,NaN,NaN
1,1989,25475,1.989020e+13,Wisconsin,2,1.989020e+13,Sibling,Never married/single,NaN,NaN,NaN,NaN
2,1989,25476,1.989020e+13,Wisconsin,1,1.989020e+13,Head/householder,"Married, spouse present",NaN,NaN,NaN,NaN
3,1989,25476,1.989020e+13,Wisconsin,2,1.989020e+13,Spouse,"Married, spouse present",NaN,NaN,NaN,NaN
4,1989,25477,0.000000e+00,Wisconsin,1,0.000000e+00,Head/householder,"Married, spouse present",NaN,NaN,NaN,NaN

In [248]:
out = df[(df.csout == "Yes") & (df.year >= 1995)]
out.cpsid.unique().size

601

In [218]:
# Out_child and Out_grandchd are the unique households with at least one kid csout == 2
out_child = df[(df.csout == "Yes") & (df.year >= 1995) & (df.relate == "Child")].cpsid.unique()

In [219]:
out_child.size # Overall size is 601, child is 501

501

In [226]:
out_grandchd = df[(df.csout == "Yes") & (df.year >= 1995) & (df.relate == "Grandchild")].cpsid.unique()

In [227]:
out_grandchd.size # Grandchild is 51

51

In [249]:
out.relate.value_counts()

Child                    898
Grandchild                77
Other nonrelatives        60
Housemate/roomate         13
Other relatives, n.s.     11
Head/householder          10
Sibling                    6
Roomer/boarder/lodger      1
Foster children            0
Unmarried partner          0
Partner/roommate           0
Parent                     0
Stepchild                  0
Spouse                     0
Name: relate, dtype: int64

In [307]:
ever_div_hh = df[(((df.marst == "Divorced") | (df.marst == "Separated"\
                ) | (df.marst == "Widowed"))) & ((df.relate == "Head/householder"\
                    )|(df.relate == "Spouse")|(df.relate == "Unmarried partner"\
                                              ))][["cpsidp","cpsid"]].drop_duplicates()

In [308]:
ever_div_hh.shape # These are ever-divorved householders (1989 - 2015)

(4622, 2)

In [309]:
count_hh = 0
for i in range(ever_div_hh.shape[0]):
    if ever_div_hh.iloc[i,1] in out_child:
        count_hh += 1
count_hh

360

In [237]:
ever_div_child = df[((df.marst == "Divorced") | (df.marst == "Separated"\
                ) & (df.marst == "Widowed")) & (df.relate == "Child")][["cpsidp","cpsid"]].drop_duplicates()

In [238]:
count_child = 0
for i in range(ever_div_child.shape[0]):
    if ever_div_hh.iloc[i,1] in out_grandchd:
        count_child += 1
count_child

0

In [ ]:
# Recent year sample

In [257]:
df2 = df[(df.year >= 2011) & (df.year <= 2015)]

In [258]:
df2.shape

(17752, 12)

In [260]:
df2[df2.marst == "Divorced"].shape

(1320, 12)

In [265]:
df2[((df2.marst == "Divorced")|(df.marst == "Separated")) & ((df2.relate == "Head/householder"\
                                                             ) | (df2.relate == "Spouse"))].shape

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

(1176, 12)

In [300]:
out_recent = df2[(df2.csout == "Yes")]
out_recent.cpsid.unique().size

125

In [301]:
out_child_recent = df2[(df2.csout == "Yes") & (df2.relate == "Child")].cpsid.unique()

In [299]:
out_recent.relate.value_counts()

Child                    188
Grandchild                10
Other nonrelatives         7
Other relatives, n.s.      3
Head/householder           1
Foster children            0
Roomer/boarder/lodger      0
Housemate/roomate          0
Unmarried partner          0
Partner/roommate           0
Sibling                    0
Parent                     0
Stepchild                  0
Spouse                     0
Name: relate, dtype: int64

In [314]:
count_hh_recent = 0
for i in range(ever_div_hh_recent.shape[0]):
    if ever_div_hh_recent.iloc[i,1] in out_child_recent:
        count_hh_recent += 1
count_hh_recent

75

In [313]:
ever_div_hh_recent = df[(((df.marst == "Divorced") | (df.marst == "Separated"\
                ) | (df.marst == "Widowed"))) & ((df.relate == "Head/householder"\
                    )|(df.relate == "Spouse")|(df.relate == "Unmarried partner"\
                                              )) & (df.year >= 2011) & (df.year <= 2015)][["cpsidp","cpsid"]].drop_duplicates()

In [ ]:
# 2005-2009 divorce: 72 in the paper

In [273]:

df[(df.csyrdiv >= 2005) & (df.csyrdiv <= 2009)].cpsid.nunique()

50

In [289]:
div0610 = df[(df.year >= 2006) & (df.year <= 2010) & (df.marst == "Divorced") & ((df.csyrdiv == 9999\
                                    )|(df.csyrdiv == 9998))].cpsid.unique()

In [ ]:
# Break down into csyrdiv exists VS csyrdiv missing (Q: when to include 1995 - 2015 boundary?)

In [ ]:
# csyrdiv exists

In [351]:
df[(df.csyrdiv >= 1900) & (df.csyrdiv <= 2015)].cpsidp.nunique()

675

In [333]:
div_yr_exist = df[(df.csyrdiv >= 1900) & (df.csyrdiv <= 2015)][["cpsidp","cpsid"]].drop_duplicates()

In [342]:
count_div_yr_exist = 0
for i in range(div_yr_exist.shape[0]):
    if div_yr_exist.iloc[i,1] in out2:
        count_div_yr_exist += 1
count_div_yr_exist

305

In [ ]:
# csyrdiv missing

In [352]:
df[(np.isnan(df.csyrdiv))| (df.csyrdiv == 9998) | (df.csyrdiv == 9999)].cpsidp.nunique()

38717

In [353]:
div_yr_missing = df[(np.isnan(df.csyrdiv))| (df.csyrdiv == 9998) | (df.csyrdiv == 9999\
                                                        )][["cpsidp","cpsid"]].drop_duplicates()

In [355]:
count_div_yr_missing = 0
for i in range(div_yr_missing.shape[0]):
    if div_yr_missing.iloc[i,1] in out2:
        count_div_yr_missing += 1
count_div_yr_missing

2033